.bg-book {
    background-image: url(../images/main_bg.jpg);
}


.bg-form {
    background-image: url(../images/book_table_bg.jpg);
    height: 50vh;
}

.marge-form {
    margin: 0 15%;
    border-radius: 10px;
    height: 75vh;
}
.card-blog {
    border: none;
    
}
