.bg-book {
    background-image: url(../images/main_bg.jpg);
}


.bg-form {
    background-image: url(../images/book_table_bg.jpg);
    background-size: cover;
}

.marge-form {
    margin: 0 15%;
    border-radius: 10px;
    // height: 65vh;
}
.card-blog {
    border: none;
    
}
.title-book {
    font-size: small;
}
.h-input {
    height: 40px !important;
}
.btn-book {
    border-radius: 20px;
}
.border-img-blog {
    border: solid 5px;
    border-color: rgb(235, 231, 231);
    border-radius: 25px;
}
.blog-1 {
    position: relative;
}
.zoom-blog {
    position: absolute;
    top: -100px;
}
.bonus-info {
    position: absolute;
    top: 227px;
    z-index: 2;
    right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 40px;
    
}

.font-cap {
    font-size: x-large;
}
.cap-rond {
    border-radius: 10px;
}
.btn-blog {
    border-radius: 25px;
}
.form-control {
    height: 6vh;
    border-radius: 15px !important;
    width: 31vh;
}
#inputState{
    height: 6vh;
    border-radius: 15px !important;
    width: 31vh;
}