.border-chef {
    border-bottom: solid 0.5px;
    border-color: white;
}
.bg-chef {
    background-image: url(../images/team_background.jpg);
    background-size: 800%;
    background-position-x: 48%;
    background-position-y: 45%;
}