.bg-contact {
    background: url(../images/main_bg.jpg);
    // height: 100vh;
}
.card-contact {
    margin: 0 auto;
}
.contact-bordure {
    border-radius: 25px;
}
.taille-icones-contact {
    font-size: 40px;
}