.bg-footer {
    background: url(../images/footer_background.jpg);
    
}
.img-footer {
    width: 100px;
}
.tag {
    border: solid;
    border-radius: 40%
}
.copy {
    display: flex;
    justify-content: center;
}