
.nav-header {
    
    z-index: 2;
    margin: 0 auto;
}

.rel {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.abso {
    position: absolute;
}
// Met un voil noir sur les images du carous
.img-carou {
    filter: brightness(20%);
}
// Les border de la nav
.br {
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: white;
    
}
// Fixe le captation
.cap {
    bottom: 35% !important;
}
// Indicateur carousel 

// Modifie la largeur de la police de la navbar
.text-header {
    font-size: large
}

// Hover sur la navbar 
.hover-navbar {
    &:hover {
        background-color: $danger;
    }
}
// La couleur du text du carou
.text-carou {
    font-family: 'Courgette', cursive;
    font-size: 50px;
}
.occasion {
    font-size: 100px;
}
.taste {
    font-size: 100px;
}
.btn-carou {
    border-radius: 30px;
}
.indicator {
    border-radius: 100% !important;
    width: 12px !important;
    height: 12px !important;
    background-color: #404040;

}
.header-rel {
    position: relative;
}


.ligne-header {
    background-image: url(../images/bottom_decoration_img.png);
    z-index: 2;
    position: absolute;
    height: 15px;
    bottom: 0;
    width: 100%;
}


.indi {
    border-radius: 50% !important;
    height: 10px !important;
    width: 10px !important;
    border: none !important;
    
}

.rel-rond {
  .active {
    z-index: 2;
    position: relative;
    border: solid 4px;
    .rond {
        position: absolute;
        height: 22px;
        width: 22px;
        border: solid 2px white;
        z-index: 3;
        top: -6px;
        left: -6px;
        border-radius: 20px;
    }
  }
}
