.bg-our {
    background-image: url(../images/main_bg.jpg);
}
.img-our {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.price-our {
   
       display: inline-block;
   
}
.text-our {
    
        display: inline-block;
    
}